body {
    background-image: url(https://www.shutterstock.com/image-photo/calm-weather-on-sea-ocean-600nw-2212935531.jpg);
    background-size: cover;

}

.container {
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

#movieForm {
    gap: 10px;
    text-align: center;
}

input,
textarea,
select,
button {
    width: 45%;
    padding: 7px;
}

button {
    width: 20%;
    background-color: coral;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
    color: white;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid gray;
}

img {
    width: 50px;
    height: 70px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}